.sidebar {
  background-color: #101010;
  border: 2px solid #FBFF00;
  padding: 20px;
  height: 100vh;
}

.body{
  background-color: #71716E;
  height: 100vh;
  padding: 2px;
}

.navbar {
  border: 2px solid #FBFF00;
}

.image {
  max-width:100%;
  max-height:100%;
  margin-top: 100px;
  border: 2px solid #FBFF00;
  text-align: center;
  display: block;
  margin: 0 auto;
}
