.sidebar {
  background-color: #101010;
  border: 2px solid #FBFF00;
  padding: 2px;
  height: 99999px;
}

.body{
  background-color: #71716E;
}

.navbar {
  border: 2px solid #FBFF00;
}

.image {
  max-width:100%;
  max-height:100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
